body {
	background: rgb(0, 0, 0);
	margin: 100;
	padding: 100;
	max-width: 100%;
	margin: auto;
	color: beige;
	text-align: center;


	
	font-size: 0.85em;
	font-family: "Segoe UI", Verdana, Helvetica, sans-serif;

}
.tables, th, td {
		padding-bottom: 2%;
		padding-left: 30%;
		padding-right: 50%;
		border-style: inherit;
		border-color: beige;
		border-width: 30px;
		border: 1px 
	  }
	
.list {
	padding-left: 30%;

}	  

.img-with-text {
	font-size: xx-small;
}




a {
	color: rgb(38, 0, 252);
	text-decoration: none;
	outline: none;
	padding-left: 0px;
	padding-right: 12px;
	
	cursor: pointer;
}

a:hover {
	color: yellow;
}

a:visited {
	color: rgb(140, 0, 255);
}


<!-- HTML !-->
<button class="button-89" role="button">Button 89</button>

/* CSS */
.button-89 {
  --b: 20px;
  --s: 0.02em;
  --color: #373B44;
  
  padding: calc(1em + var(--s)) calc(1.8em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus-visible{
  --_p: 2px;
  background-color: rgb(1, 74, 1);
  color: ;
  outline-offset: .55em;
}

.button-89:active {
  background: var(--color);
  color: hsla(0, 0%, 100%, 0.913);
}

.button {
	background-color: rgb(51, 125, 53);
	border: 2px;
	border-color: rgb(255, 255, 255);
	color: white;
	padding: 3% 4%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 4vw;
	font-family: fantasy;
  }

  .button:active {
	background-color: rgb(1, 74, 1);
  }

  .kookoo {
	background-color: rgb(255, 170, 0);
	color: rgb(0, 0, 0);
	text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1pxrgb(255, 255, 255)000, 1px 1px 0 #f2f0f0;
	border: 2px;
	border-color: rgb(255, 255, 255);
	padding: 3% 4%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 3vw;
	font-family: fantasy;
  }
  .kpl {
	background-color: rgb(255, 230, 0);
	color: rgb(0, 0, 0);
	padding: 3% 4%;
	
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 3vw;
	font-family: fantasy;
  }

  .mypa {
	background-color: rgb(255, 0, 0);
	color: white;
	padding: 3% 4%;
	border: 2px;
	border-color: rgb(255, 0, 0);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 3vw;
	font-family: fantasy;
  }

  .kouvot {
	background-color: rgb(255, 255, 255);
	border: 2px;
	border-color: rgb(255, 255, 255);
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	padding: 3% 4%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 3vw;
	font-family: fantasy;
  }
  
	.container {
		padding-bottom: 50%;
		position: relative;
   }
   
   .container iframe {
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		position: absolute;
   }

   footer{
	
	font-size: x-small;
   }